        {% load static %}

         <!-- jQuery (necessary for Semantic UI JavaScript) -->
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Semantic Table Sort JavaScript -->
        <script src="{% static 'js/jquery.tablesort.js' %}"></script>
        <script src="{% static 'js/jquery.tablesort.min.js' %}"></script>

        <!-- Semantic UI JavaScript -->
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'js/semantic.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/alert.js' %}"></script>
        
        <script>
            $(document).ready(function () {
                $('.ui.sortable.table').tablesort();
            });

            $(document).ready(function() {
                $('#addEmployee').click(function() {
                  $('.ui.small.modal')
                  .modal('setting', 'closable', false)
                  .modal('show');
                });
              });
        </script>
    </body>
</html>