        {% load static %}
        <!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>-->

         <!-- jQuery (necessary for Semantic UI JavaScript) -->
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Semantic Table Sort JavaScript -->
        <script src="{% static 'js/jquery.tablesort.js' %}"></script>
        <script src="{% static 'js/jquery.tablesort.min.js' %}"></script>

        <!-- Semantic UI JavaScript -->
        <script src="{% static 'js/semantic.min.js' %}"></script>
        <script src="{% static 'js/semantic.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        
        <script>
            $(document).ready(function () {
                $('.ui.sortable.table').tablesort();

            });
        </script>
    </body>
</html>