{% include '_header.html' %}
{% block content %}
    <div class="ui container container-table">
        <h1 class="ui header">Table</h1>
        <div class="ui two column grid">
            <div class="five wide column bg-grey"></div>
            <div class="five wide column bg-grey"></div>
            <div class="five wide column bg-grey"></div>
        </div>

        <div class="ui column grid">
            <div class="column bg-grey"></div>
        </div>
    </div>
   
{% endblock  %}
{% include '_footer.html' %}
