* {
    margin: 0;
    padding: 0;
}

:root {
    --font-color: #fff;
    --font-color-2: #c58d68;
    --bg-color: #c99e82;
    --bg-color-dark: #877f79;
    --bg-color-2: #f5f5f5;
    --bg-color-green: #e2f0c5;
}

body {
    padding-left: 250px !important;
    padding-right: 40px !important;
    padding-top: 30px !important;
}

/* BACKGROUND COLOR */
.bg-grey {
    background-color: var(--bg-color-2) !important;
}

.bg-orange {
    background-color: var(--bg-color) !important;
}

.bg-orange-dark {
    background-color: var(--bg-color-dark) !important;
    color: var(--font-color) !important;

    h4 {
        .header {
            color: var(--font-color) !important;
        }

    }
}

.bg-orange-light {
    background-color: #ddd1c7 !important;

    .label {
        color: rgb(85, 65, 47) !important;
    }
}


.bg-green {
    background-color: var(--bg-color-green) !important;

    .label {
        color: #515e34 !important;
    }
}

.bg-blue {
    background-color: #c5e6f0 !important;

    .label {
        color: #3c606b !important;
    }
}

.bg-yellow {
    background-color: #f0efc5 !important;

    .label {
        color: #6a6b3c !important;
    }
}


.sidebar {
    h3 {
        color: #fff !important;
    }
}

.position-bottom {
    bottom: 50;
}

.container-login {
    .header {
        text-align: center;

    }
}

/* MESSAGES */

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}

/* DASHBOARD PAGE */
.container-summary {
    width: 100%;
    justify-content: center;

    .column {
        background-color: #e6e6e6 !important;
        margin: 2px;
    }
}

.container-shipping {
    width: 100%;
    justify-content: center;

    .column {
        margin: 2px;
    }

    .icon {
        align-items: start !important;
    }
}

.container-bar-graph {
    width: 100%;
    justify-content: center !important;

    .column {
        margin: 2px;
    }
}

/* TABLE PAGE */
.container-table {
    width: 100%;
    justify-content: center !important;

    .column {
        margin: 2px;
        justify-content: center !important;
        text-align: center;

    }

    .four {
        height: 80px;
    }

}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}